@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-authentication {
    height: 100vh;
    background: url(/Assets/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.wrapper-authentication {
    width: 50%;
    height: auto;
    background: #D9D9D994 58%;
    backdrop-filter: blur(10px);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 30px 0px 0px 30px;
}

.wrapper-authentication .authentication-box {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authentication-box .authentication-title {
    text-align: center;
    color: #002d2d;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.authentication-title h1 {
    align-items: center;
    font-size: 7vw;
    font-weight: 800;
}

.authentication-box .authentication-input-box {
    width: 100%;
    height: 55px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.authentication-input-box input {
    padding: 0 10px;
    border-radius: 0.7vw;
    font-size: 1vw;
    width: 60%;
    height: 3vw;
    border: none;
    justify-content: center;
}

.authentication-box .authentication-btn {
    height: 4vw;
    width: 30%;
    border-radius: 1vw;
    border: none;
    background-color: #002d2d;
    color: #FFF;
    font-size: 1.5vw;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.authentication-btn:hover {
    background-color: #004040;
}

.authentication-borders {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1vw;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.authentication-borders .border-left,
.border-right {
    border-top: 1px solid #14302F;
    width: 25%;
    margin: 0 1%;
}

.authentication-media-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.authentication-media-options a {
    display: inline-flex;
    justify-content: center;
    font-size: 1vw;
    align-items: center;
    border-radius: 0.7vw;
    height: 3.5vw;
    width: 50%;
    background-color: #FFF;
    text-align: center;
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.authentication-media-options a:hover {
    background-color: #E0E0E0;/
}

.authentication-media-options img {
    height: 70%;
}

.authentication-media-options a span {
    margin-left: 5px;
}

.link-box {
    margin: 5%;
    font-size: 1vw;
    display: flex;

}

.link-box a {
    margin: 0 auto;
    align-items: center;
    font-size: 1;
    text-decoration: none;
}

.wrapper-authentication .form-box.login {
    display: block;
}

.wrapper-authentication.active .form-box.login {
    display: none;
}

.wrapper-authentication .form-box.register {
    display: none;
}

.wrapper-authentication.active .form-box.register {
    display: block;
}

.wrapper-authentication .link-box.signup {
    display: block;
}

.wrapper-authentication.active .link-box.register {
    display: block;
}

.wrapper-authentication .link-box.register {
    display: none;
}

.wrapper-authentication.active .link-box.signup {
    display: none;
}

.wrapper-authentication.active .authentication-media-options {
    display: none;
}

.wrapper-authentication.active .authentication-borders {
    display: none;
}

.wrapper-authentication.active .register-box {
    display: none;
}


.form-box.register .authentication-input-box {
    display: inline-block;
    width: 100%;
    height: auto;
}

.form-box.register .authentication-input-box input {
    width: 100%;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -7%;

}

.two-column-list>div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.authentication-input-box select {
    height: 3vw;
    border-radius: 0.7vw;
    width: 100%;
    border: none;
    font-size: 1vw;
    justify-content: center;
    color: #C1C1C1;
}

.custom-file-input {
    display: flex;
    width: 70%;
    background-color: #fff;
    align-items: center;
    color: #C1C1C1;
    justify-content: space-between;
    align-items: center;
    height: 3vw;
    border-radius: 0.7vw;
}

.authenttication-input.file {
    display: none;
}

.info-text-password {
    position: absolute;
    display: none;
    font-size: 0.8vw;
    margin-left: 1%;
    text-align: left;
    opacity: 0;
    transform: translateY(-20%);
    animation: slideDown 0.5s ease-in-out forwards;
}

.input-file-with-info {
    margin-top: 10px;
}


.info-text-file {
    margin-top: 2%;
    font-size: 0.8vw;
    margin-left: 7%;
    text-align: left;
}

.authenttication-input.authenttication-input .file-text-input {
    font-size: 1vw;
    margin: 10px 20px;
}

.custom-file-input input[type="file"] {
    display: none;
}

.custom-file-input:hover {
    background-color: #ddd;
}

input::placeholder {
    color: #C1C1C1;
}

.form-box.register {
    display: none;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.register .authentication-input-box {
    display: inline-block;
    gap: 5%;
    padding: 10px;
    width: 100%;
    height: 0%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.login {
    display: none;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.login .authentication-input-box {
    display: inline-block;
    gap: 5%;
    padding: 10px;
    width: 100%;
    height: 0%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.custom-file-input img {
    margin-right: 5%;
    height: auto;
}

.Details-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;
}

.Details-text h2 {
    color: #002D2D;
    font-weight: 600;
    line-height: 1.2;
    font-size: 2.5vw;
}

.Details-text h2 span {
    font-weight: 200;
    font-size: 1.5vw;
    letter-spacing: 3px;
}

.Details-text .flag img {
    height: 3vw;
    margin-top: 2%;
}

.Details-text p {
    font-size: 1vw;
    line-height: 28px;
    letter-spacing: 3px;
}

.wrapper-Details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

}

.accomplishment {
    background: #D9D9D994 58%;
    text-align: start;
    width: 90%;
    border-radius: 0.7vw;
    display: flex;
    font-weight: 200;
    font-size: 1.2vw;
    margin-bottom: 2%;
}

.accomplishment .accomplishment-right {
    width: 75%;
    margin-left: 2%;
}



.accomplishment .accomplishment-right .accomplishment-right-img img, .accomplishment .accomplishment-left .accomplishment-left-img img:first-child {
    padding: 0 4%;
    max-height: 3vw;
}

.accomplishment .accomplishment-left .accomplishment-left-img img {
    max-height: 3vw;
}

.accomplishment .accomplishment-left {
    width: 25%;
}

@media screen and (max-width: 900px) {

    .section-authentication {
        justify-content: space-evenly;
        background: url(/Assets/background.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        display: flex;
    }
    
    .wrapper-authentication {
        display: flex;
        align-items: center;
        align-content: center;
        width: 90%;
        border-radius: 30px;
        height: auto;
    }
    
    .authentication-box {
        flex: 1;
    }
    
    .authentication-media-options {
        flex: 0;
    }
    
    .link-box {
        flex: 0;
    }
    
    .authentication-box .authentication-title h1 {
        font-size: 4vw;
        margin: 0%;
    }
    
    .authentication-box .authentication-btn {
        width: 40%; 
        font-size: 2.5vw; 
        height: 5vw; 
    }
    
    .authentication-borders {
        font-size: 2vw; 
        margin: 2% 0;
    }
    
    .authentication-borders {
        font-size: 1.5vw; 
    }
    
    .authentication-borders .border-left,
    .border-right {
        width: 20%;
    }
    
    .authentication-media-options a {
        font-size: 1.5vw;
        width: 40%; 
        height: 3.5vw;
    }
    
    .register-box {
        width: 100%;
        font-size: 8px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .info-text-password {
        font-size: 1.5vw; 
        position: relative;
        margin-top: 3px;
    }
    
    .link-box, .link-box a {
        font-size: 1vw;
    }
    
    .authentication-media-options a:hover {
        background-color: #E0E0E0;
    }
    
    .authentication-media-options img {
        height: 50%;
    }
    
    .two-column-list>div {
        width: 80%;
        padding: 0px;
        margin-bottom: 10px;
    }
    
    .two-column-list input {
        height: 5%;
    }
    
    .two-column-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .authenttication-input:nth-child(2) {
        order: -4;
    }
    
    .authenttication-input:nth-child(4) {
        order: -3;
    }
    
    .authentication-input-box select {
        margin-bottom: 0px;
        margin: 0px;
        padding: 0 5px;
        font-size: 1.5vw;
        height: 4vw; 
    }
    
    .authentication-input-box input {
        font-size: 1.5vw; 
        height: 4vw; 
    }
    
    .custom-file-input {
        margin: 0px;
        height: 4vw; 
    }
    
    .info-text-file {
        font-size: 1vw;
        margin-top: 2%;
        margin-left: 2%;
        text-align: left;
    }
    
    .wrapper-Details {
        width: 50%;
        display: flex;
    }
    
    .accomplishment {
        margin: 0;
    }
    
    .authenttication-input.authenttication-input .file-text-input {
        font-size: 1.5vw;
        margin: 0 10px;
    }

    .Details-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 70%; 
    }
    
    .Details-text h2 {
        color: #002D2D;
        font-weight: 600;
        line-height: 1.2;
        font-size: 2vw; 
    }
    
    .Details-text h2 span {
        font-weight: 200;
        font-size: 1.2vw;
        letter-spacing: 3px;
    }
    
    .Details-text .flag img {
        height: 2.5vw; 
        margin-top: 2%; 
    }
    
    .Details-text p {
        font-size: 1vw; 
        line-height: 28px;
        letter-spacing: 3px;
    }

    
    .accomplishment {
        background: #D9D9D994 58%;
        text-align: start;
        width: 90%;
        border-radius: 0.7vw;
        display: flex;
        font-weight: 200;
        font-size: 1.2vw;
        margin-bottom: 1%; 
    }
    
    .accomplishment .accomplishment-right {
        width: 70%; 
        margin-left: 2%;
    }
    
    .accomplishment .accomplishment-right .accomplishment-right-img img, .accomplishment .accomplishment-left .accomplishment-left-img img:first-child {
        padding: 0 3%; 
        max-height: 2.5vw; 
    }
    
    .accomplishment .accomplishment-left .accomplishment-left-img img {
        max-height: 2.5vw; 
    }
    
    .accomplishment .accomplishment-left {
        width: 30%;
    }

    .custom-file-input img {
        margin-right: 5%;
        height: 3vw;
    }


    
}


@media screen and (max-width: 540px) {
    .section-authentication {
        justify-content: space-evenly;
        background: url(/Assets/background.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        display: flex;
    }

    .wrapper-authentication {
        display: flex;
        align-items: center;
        align-content: center;
        width: 90%;
        border-radius: 30px;
        height: auto;
    }

    .authentication-box {
        flex: 1;
    }

    .authentication-media-options {
        flex: 0;
    }

    .link-box {
        flex: 0;
    }

    .authentication-box .authentication-title h1 {
        font-size: 10vw;
        margin: 5%;
    }


    .authentication-box .authentication-btn {
        width: 30%;
        font-size: 3.2vw;
        height: 5vw;
    }

    .authentication-borders {
        font-size: 3vw;
        margin: 5% 0;
    }

    .authentication-borders {
        font-size: 2.5vw;
    }

    .authentication-borders .border-left,
    .border-right {
        width: 20%;
    }

    .authentication-media-options a {
        font-size: 2vw;
        width: 45%;
        height: 5vw;
    }

    .register-box {
        width: 100%;
        font-size: 8px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .info-text-password {
        font-size: 1.5vw;
        position: relative;
        margin-top: 3px;
    }

    .link-box {
        font-size: 2vw;
        padding-bottom: 10px;
    }

    .link-box a {
        font-size: 2vw;
    }

    .authentication-media-options a:hover {
        background-color: #E0E0E0;/
    }

    .authentication-media-options img {
        height: 50%;
    }

    .two-column-list>div {
        width: 80%;
        padding: 0px;
        margin-bottom: 10px;
    }

    .two-column-list input {
        height: 10%;
    }

    .two-column-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .authenttication-input:nth-child(2) {
        order: -4;
    }

    .authenttication-input:nth-child(4) {
        order: -3;
    }

    .authentication-input-box select {
        margin-bottom: 0px;
        margin: 0px;
        padding: 0 5px;
        font-size: 2vw;
        height: 6vw;
    }

    .authentication-input-box input {
        font-size: 2vw;
        height: 6vw;
    }

    .custom-file-input {
        margin: 0px;
        height: 6vw;
    }

    .info-text-file {
        margin-top: 2%;
        margin-left: 2%;
        text-align: left;
    }

    .wrapper-Details {
      width: 50%;
      display: flex;
    }



    .authenttication-input.authenttication-input .file-text-input {
        font-size: 2vw;
        margin: 0 10px;
    }
    
        .Details-text {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 90%;
        }
        
        .Details-text h2 {
            color: #002D2D;
            font-weight: 600;
            line-height: 1.2;
            font-size: 2.5vw;
        }
        
        .Details-text h2 span {
            font-weight: 200;
            font-size: 1.5vw;
            letter-spacing: 3px;
        }
        
        .Details-text .flag img {
            height: 3vw;
            margin-top: 2%;
        }
        
        .Details-text p {
            font-size: 1vw;
            line-height: 28px;
            letter-spacing: 3px;
        }
        
        .accomplishment {
            background: #D9D9D994 58%;
            text-align: start;
            width: 90%;
            border-radius: 0.7vw;
            display: flex;
            font-weight: 200;
            font-size: 1.2vw;
           margin: 0;
        }
        
        .accomplishment .accomplishment-right {
            width: 75%;
            margin-left: 2%;
        }
        
        
        
        .accomplishment .accomplishment-right .accomplishment-right-img img, .accomplishment .accomplishment-left .accomplishment-left-img img:first-child {
            padding: 0 4%;
            max-height: 3vw;
        }
        
        .accomplishment .accomplishment-left .accomplishment-left-img img {
            max-height: 3vw;
        }
        
        .accomplishment .accomplishment-left {
            width: 25%;
        }
    
}

