@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section-authentication {
    height: 100vh;
    background: url(/Assets/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.wrapper-authentication {
    width: 55%;
    height: auto;
    background: #D9D9D994 58%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 0px 0px 30px;
}

.wrapper-authentication .authentication-box {
    width: 100%;
    height: 95%;
    text-align: center;
}

.authentication-box .authentication-title {
    text-align: center;
    color: #002d2d;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.authentication-title h1 {
    align-items: center;
    font-size: 6vw;
    font-weight: 800;
}

.authentication-box .authentication-input-box {
    width: 100%;
    height: 55px;
    gap: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.authentication-input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    height: 44px;
    border: none;
    justify-content: center;
}

.authentication-box .authentication-btn {
    height: 50px;
    width: 30%;
    border-radius: 10px;
    border: none;
    background-color: #002d2d;
    color: #FFF;
    font-size: 1.5vw;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.authentication-btn:hover {
    background-color: #004040;
}

.authentication-borders {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1vw;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.authentication-borders .border-left,
.border-right {
    border: 1px solid #14302F;
    width: 25%;
    margin: 0 1%;
}

.authentication-media-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.authentication-media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 50px;
    width: 335px;
    background-color: #FFF;
    text-align: center;
    margin: 5px 0;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.authentication-media-options a:hover {
    background-color: #E0E0E0;/
}

.authentication-media-options img {
    height: 70%;
}

.authentication-media-options a span {
    margin-left: 5px;
}

.link-box {
    width: 100%;
    font-size: 1vw;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-box a {
    font-size: 0.7vw;
    text-decoration: none;
}

.wrapper-authentication .form-box.login {
    display: block;
}

.wrapper-authentication.active .form-box.login {
    display: none;
}

.wrapper-authentication .form-box.register {
    display: none;
}

.wrapper-authentication.active .form-box.register {
    display: block;
}

.wrapper-authentication .link-box.signup {
    display: none;
}

.wrapper-authentication.active .authentication-media-options {
    display: none;
}

.wrapper-authentication.active .authentication-borders {
    display: none;
}

.wrapper-authentication.active .register-box {
    display: none;
}


.form-box.register .authentication-input-box {
    display: inline-block;
    gap: 5%;
    padding: 10px;
    width: 100%;
    height: auto;
}

.form-box.register .authentication-input-box input {
    margin: 10px;
    width: 100%;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap;

}

.two-column-list>div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.authentication-input-box select {
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    justify-content: center;
    color: #C1C1C1;
    margin-bottom: 25%;
}

.custom-file-input {
    margin-left: 10px;
    height: 40px;
    display: flex;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    color: #C1C1C1;
    justify-content: space-between;
    align-items: center;
}

.authenttication-input.file {
    display: none;
}

.info-text-password {
    position: absolute;
    display: none;
    font-size: 0.8vw;
    margin-left: 1%;
    text-align: left;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideDown 0.5s ease-in-out forwards;
}

.input-file-with-info {
    margin-top: 10px; 
  }
  

.info-text-file {
    margin-top: 2%;
    font-size: 0.8vw;
    margin-left: 7%;
    text-align: left;
}

.authenttication-input.authenttication-input .file-text-input {
    font-size: 0.9vw;
    margin: 10px 20px;
}

.custom-file-input input[type="file"] {
    display: none;
}

.custom-file-input:hover {
    background-color: #ddd;
}

input::placeholder {
    color: #C1C1C1;
}

.form-box.register {
    display: none;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.register .authentication-input-box {
    display: inline-block;
    gap: 5%;
    padding: 10px;
    width: 100%;
    height: 0%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.login {
    display: none;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form-box.login .authentication-input-box {
    display: inline-block;
    gap: 5%;
    padding: 10px;
    width: 100%;
    height: 0%;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.custom-file-input img {
    margin-right: 5%;
    height: auto;
    width: 10%;
}

@media screen and (max-width: 768px) {
    .section-authentication {
        justify-content: center;
        background: url(/Assets/background.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .wrapper-authentication {
        width: 90%;
        border-radius: 30px;
    }

    .authentication-box .authentication-title h1 {
        font-size: 10vw;
    }

    .authentication-input-box input[type="email"],
    .authentication-input-box input[type="password"] {
        width: 80%;
    }

    .authentication-box .authentication-btn {
        width: 40%;
        font-size: 4vw;
    }

    .authentication-borders {
        font-size: 3vw;
    }

    .authentication-borders .border-left,
    .border-right {
        width: 20%;
    }

    .authentication-media-options a {
        width: 50%;
        margin: 5px 0;
        font-size: 2vw;
    }

    .register-box {
        width: 100%;
        font-size: 8px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .custom-file-input {
        width: 80%;
        height: 40px;
    }

    .info-text-file {
        font-size: 1vw;
        margin-left: 10%;
    }

    .authenttication-input.authenttication-input .file-text-input {
        font-size: 2vw;
    }

    .info-text-password {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 1024px) {}