.courses-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.courses-content {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  background: var(--background2);
}

.swiper {
  width: 90%;
  height: 98%;
}

.line-car {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.title {
  text-align: center;
  padding: 1.5rem 0rem;
  color: white;
}

.title h1 {
  font-size: 30px;
}

.carrossel:hover .title-text {
  opacity: 0;
  display: none;
}

.carrossel:hover .text-info {
  padding-top: 2rem;
  opacity: 1;
}

.text-prof {
  padding: 2rem 0rem;
  font-size: 15px;
}

.carrossel {
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 80%;
  border-radius: 10px;
}

.img {
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: filter 1s ease;
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn a {
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  padding: 0.3rem 2.5rem;
  justify-content: center;
  display: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: none;
  transition: .5s;
  border: 2px solid white;
  cursor: pointer;
}

.carrossel:hover .text-content {
  transform: translateY(0);
}

.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background2);
  color: white;
  padding: 10px;
  transform: translateY(65%);
  transition: transform 1s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
}

.data {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.title-text {
  transition: opacity 0.5s ease-in-out;
  font-size: 20px;
  padding-top: 1rem;
}

.text-info {
  transition: opacity 0.5s ease-in-out;
  font-size: 16px;
  padding-top: 1rem;
}

.text-info {
  opacity: 0;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.3;
  transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}


.title-text {
  opacity: 1;
}

.carrossel:hover .text-content {
  display: block;
}

.carrossel:hover .btn a {
  display: block;
}

.btn a:hover {
  background: white;
  color: rgb(120, 120, 120);
}

.carrossel:hover .img {
  filter: blur(5px);
}


.Perfil-course {
  width: 60px;
  height: 60px;
}

.Perfil-course img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.data p {
  margin-left: 10px;
}

@media screen and (max-width: 1065px) {
  .carrossel {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {

  .carrossel {
    width: 300px;

  }

  nav {
    max-width: 960px;
  }
}

@media screen and (max-width: 860px) {
  .swiper {
    width: 100%;
  }

  .carrossel {
    width: 270px;
  }
}
@media screen and (max-width: 700px) {
  
  .carrossel{
      width: 520px;
      height: 80%;
      left: 20%;
  }

  .swiper-slide {
    display: flex;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-slide-prev .carrossel,
  .swiper-slide-next .carrossel {
    transform: scale(0.8);
    opacity: 0.3;
    transition: 0.8s;
  }

  nav {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {

  .title-text,
  .text-info {
    font-size: 14px;
  }

  .btn a {
    font-size: 14px;
    bottom: 20px;
  }

  .text-content {
    transform: translateY(70%);
}
.carrossel{
  left: 20%;
}

 
}