.events-container {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;

}

.events-content {

    width: 100%;
    height: 90%;
    border-radius: 20px;
    background: #FFFFFF4D;

}

#top-section-crono-title{

display: flex;
height: 10%;
font-weight: 600;
font-size: 32px;
color: white;
align-items: flex-end;
justify-content: center;

}


.conteiner-prog {

    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

}

.Prog-events-day {

    width: 20%;
    height: 80%;
    margin-left: 10%;
    justify-content: flex-end;

}

.sub-navigation-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-navigation-button li {

    color: rgba(255, 255, 255, 0.5);
    display: flex;
    list-style: none;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;

}

.day-button {

    font-weight: bold;
    font-size: 2em;
    cursor: pointer;

}

#day-button-week {

    font-weight: lighter;
    font-size: 0.5em;
}

.day-button.active {

    color: #fff;
    animation: fadeIn 1s ease-in-out;

}

.Prog-events-fuso {

    width: 70%;
    height: 80%;

}

.Prog-events-fuso {

    margin-left: 3%;
    border-left: 3px solid rgba(255, 255, 255, 0.6);
    list-style: none;
    /*display: flex;*/
    flex-direction: column;
    overflow: auto;

}

.Prog-events-fuso ul {

    margin-bottom: 50px;

}

.Prog-events-fuso li {

    list-style: none;
    color: #fff;
    margin-left: 10%;

}

.Event-day.active {

    display: inline;

}

.Event-day {

    display: none;

}

.Event-day {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sub-fuso-events {

    width: 80%
}

.sub-fuso-text {

    font-size: 24px;
    font-weight: bold;

}

.sub-event-text {

    font-size: 22px;
    font-weight: 400;
  
  }
  
  .sub-local-text {
  
    font-size: 18px;
    font-weight: 100;
  
  }


  @media screen and (min-width: 1400px){

    
  
    .day-button {
     
      font-size: 2em;
      
    }
  
    #top-section-crono-title2 {
      font-size: 1.8em;
  }
    
      
}


  @media screen and (min-width: 1520px){


  .day-button {
   
    font-size: 2.5em;
    
  }

  #top-section-crono-title2 {
    font-size: 2.5em;
}
  
    
  }


@media screen and (max-width: 800px) {

    .day-button {

        font-size: 1.7em;
    }

    .sub-fuso-text {
        font-size: 14px;
      }
    
      .sub-event-text {
        font-size: 12px;
      }
    
      .sub-local-text {
        font-size: 10px;
      }
    

}

@media screen and (max-width: 680px) {


    .day-button {

        font-size: 1.3em;
    }


}

@media screen and (max-width: 550px) {

    .day-button {

        font-size: 1em;
    }

}

@media screen and (max-width: 500px) {

    .conteiner-prog {

        width: 95%;
        font-size: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Prog-events-day {
        width: 90%;
        height: 5%;
        margin-left: 0%;
        display: flex;
    }

    .sub-navigation-button {

        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .sub-navigation-button li {

        margin-bottom: 0%;

    }

    .day-button {

        font-size: 1.8em;
    }

    .Prog-events-fuso {

        width: 90%;
        margin-left: 0%;
        border-top: 1.5px solid rgba(255, 255, 255, 0.6);
        border-left: 0px solid rgba(255, 255, 255, 0.6);
    }

    .Prog-events-fuso::-webkit-scrollbar {

        width: 4px;
    }

    .Prog-events-fuso ul {


        margin-top: 10%;

    }

    .sub-fuso-text {
        font-size: 18px;
      }
    
      .sub-event-text {
        font-size: 16px;
      }
    
      .sub-local-text {
        font-size: 16px;
      }


}

@media screen and (max-width: 320px){

.day-button {
    font-size: 1.5em;
}
  }