.Contact a,
.contac-logo,
.map-title {
    color: #f2f2f6
}

.footer-sponsors {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center
}

.logo-container-footer {
    width: 25%;
    height: 80px
}

.Contact,
.Contact a:hover::after,
.footer {
    width: 100%
}

.logo-footer h2 {
    align-self: flex-start;
    margin-left: 10%;
    width: 20%;
    color: #fff;
}

.footer {
    position: absolute;
    height: 60vh;
    background: var(--background2);
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 5, 90, 0.5) 0 5px 50px
}

.copyrightfooter {
    text-align: center;
    color: #f2f2f6
}

.Contact {
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.Contact a {
    text-decoration: none;
    position: relative;
    display: inline-block
}

.Contact a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background: #f2f2f6;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out
}

.Contact ul li {
    margin-top: 10px;
    list-style: none
}

.logo-footer {
    display: flex;
    width: 40%;
    height: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer img {
    width: 110px;
    height: 83px;
    scale: 1.2;
}

.map-website {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column
}

.social-media {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column
}

.footer-apoios{

    margin-top: 5%;
    margin-left: 16%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width:1520px) {
    .Contact {
        font-size: 22px
    }
}

@media screen and (max-width:1200px){

    .logo-footer img{
        scale: 1.0;
    }

}

@media screen and (max-width:900px) {
    .map-title {
        font-size: 1.3em
    }

    .Contact a {
        font-size: .9em
    }
    .logo-footer img{
        scale: 0.9;
    }
}

@media screen and (max-width:769px) {

    footer{
        margin-top: 300px;
    }
    .map-title {
        font-size: 1.1em
    }

    .Contact a {
        font-size: .8em
    }

    .copyrightfooter {
        font-size: .7em
    }
    .logo-footer img{
        scale: 0.8;
    }


}

@media screen and (max-width:576px) {
    .map-title {
        font-size: 1.1em
    }

    .logo-container-footer {
        width: 36%;
        height: 60px
    }

    .Contact a {
        font-size: .8em
    }

    .copyrightfooter {
        font-size: .7em
    }

    .map-website {
        display: none
    }

    .Contact {
        width: 90%;
        display: flex;
        margin: auto;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start
    }

    .logo-footer h2 {
        width: 100%;
        height: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
    }

    .logo-footer {
        height: 30%;
        width: 100%;
        flex-direction: row;
    }

    .social-media {
        width: 100%
    }

    .footer-apoios {
        width: 30%;
    }

    .footer-apoios {
        margin-top: 0%; 
        margin-left: 0%;
    }
}