.Inscrição{

    background: #f1f1f1;
}
.Inscrição-container {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;

}

.Inscrição-content {

    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: column;

}

.Inscrição-Event-data {

    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.Inscrição-Event-data::before {
    content: "";
    width: 8px;
    /* Largura da borda direita */
    height: 100%;
    background-color: #5DCCC8;
    /* Cor da borda direita */
    border-radius: 10px;
}

#title-Inscrição {

    display: flex;
    font-weight: 600;
    font-size: 40px;
    justify-content: center;
}

.text-data {

    width: 95%;
    padding: 20px;
    list-style: none;
}

#Text-1 {

    font-weight: 600;
    font-size: 24px;
}

#Text-title{

    font-weight: 500;
    font-size: 22px;
    display: flex;
}

#Text-info{

    font-weight: 400;
    font-size: 16px;
    text-align: justify;

}

.Text-2 {

    font-weight: 600;
    font-size: 16px;
    color: #757575;
}

.register {
    width: 100%;
    height: 55%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.register-content {
    width: 80%;
}

.register-emails {
    display: flex;
    justify-content: space-between;
}

.register-box-name {
    width: 100%;
}

.register-box-email {
    width: 45%;
}

.form-register input {
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 10px;
    height: 44px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.form-register {

    width: 100%;
    height: 90%;
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

}


#register-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#register-btn #button-Inscrever-se {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--background1);
    color: white;
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin: 0 10px;
}
#register-btn #button-cancelar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid var(--background1);
    color: var(--background1);
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin: 0 10px;
}


@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 768px) {
    
    #Text-1 {
        font-weight: 600;
        font-size: 16px;
    }
    .Text-2 {
        font-weight: 600;
        font-size: 14px;
        color: #757575;
    }
    #title-register{
        font-size: 16px;
    }
    #title-Inscrição {
        font-size: 32px;       
    }

    #register-btn #button-cancelar {
        font-size: 20px;
        width: 200px;
        height: 50px;
        
    }
    #register-btn #button-Inscrever-se {
        font-size: 20px;
        width: 200px;
        height: 50px;
        
    }
    .Inscrição-Event-data::before {
    
        width: 6px;
        
    }

    #Text-title{

        font-size: 16px;
    }
    
    #Text-info{
    
        font-size: 14px;
        
    
    }
}

@media screen and (max-width: 576px) {
    
    #Text-1 {
        font-weight: 600;
        font-size: 14px;
    }
    .Text-2 {
        font-weight: 600;
        font-size: 12px;
        color: #757575;
    }
    #title-register{
        font-size: 14px;
    }
    #title-Inscrição {
        font-size: 24px;       
    }

    .form-register input {
        height: 35px; 
        font-size: 8px;
        margin: 10px 0;
    }

    #register-btn #button-cancelar {
        font-size: 14px;
        width: 180px;
        height: 45px;
        
    }
    #register-btn #button-Inscrever-se {
        font-size: 14px;
        width: 180px;
        height: 45px;
        
    }
    .Inscrição-Event-data::before {
    
        width: 4px;
        
    }

    .register-box-email {
        width: 100%;
    }

    .form-register {
        justify-content: flex-start;
    }

    .register-emails {
        display: flex;
        flex-direction: column;
        
    }

    #Text-title{

        font-size: 14px;
    }
    
    #Text-info{
    
        font-size: 12px;
        
    
    }

}