body{
    background: #FFF;
}
.update-container {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}
.header {
    padding: 1rem 0 1rem 3rem;
    background: #14302F;
    backdrop-filter: blur(26.5px);
}

.header h1{
    color: #FFF;
    font-size: 28.619px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 40.067px */    
}

.container-title {

    color: #181616;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 56px */
    text-align: center;
    padding-top: 2rem;

}
.container-p{

    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 16px 120px 16px;
    gap: 1rem;
    margin-top: 8%;
    margin-left: 2rem;
    width: 100%;

}

.container-p span{
    background: #5DCCC8;
    height: 111px;
    width: 6px;
    border-radius: 16px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -5px;
}
.container-p :nth-child(2){
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
}
.container-p :nth-child(3){
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
}
/* DADOS DOS PARTICIPANTE */


.container-data{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
}
.data{
    padding: 64px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-input{
    padding: 12px;
    width: 452px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background:  #FFF;
    color:  #C1C1C1;
    
}
.data-cont {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.data-cont form{
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.data-form{
    display: flex;
    gap: 8px;
}

/* DADOS DO TRABALHO */
.descricion{
    display: flex;
    width: 452px;
    height: 113px;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border: solid 1px #C1C1C1;
    border-radius: 8px;
}
.update{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.update-agroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

}
.update-cont{
    display: flex;
    flex-direction: column;
}
.agroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
}

.agroup p{
    font-size: 14px;
}
.agroup-file {
    
    color: #C1C1C1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}
.upload{
    border: solid 1px #D9D9D9;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#register-btn {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-btn button {
    background: #14302F;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    height: 60px;
    margin: 0 10px;
}
#register-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid #14302F;
    color: #14302F;
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin: 0 10px;
}


@media screen and (max-width: 1400px) {
   
}

@media screen and (max-width: 1200px) {
    .data h1{
        padding-left: 3rem;
    }
    .container-p{
        
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
   .data h1{
    padding-left: 7rem;
   }
}

@media screen and (max-width: 768px) {
    .container-p {
        padding: 0;
    }
    .container-data{
        flex-direction: column;
    }
    .data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .data-cont {
        flex-direction: column;
    }
    .update-agroup{
        flex-direction: column;
        align-items: normal;
    }

}

@media screen and (max-width: 576px) {
    .update-cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .update-agroup{
        display: flex;
        flex-direction: column;
        
    }
    .data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .data-block{
        display: flex;
        flex-direction: column;
    }

    .data-cont{
        display: flex;
        flex-direction: column;
    }
    .update{
        padding-left: 0;
    }

    .container-p{
        padding: 0;
        margin-left: 8px;
    }
}