.welcome-container {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;

}

.welcome-content {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background: var(--background2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}


.welcome-content h1 {
    color: #F1F1F1;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    /* 100px */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    padding-bottom: 1rem;
}

.text-welcome {

    width: 85%;
    align-self: center;
    overflow: auto;

}

.welcome-content span {
    font-size: 65px;
}

.welcome-content p {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 0.5rem 5rem 0.3rem 5rem;
    text-align: center;
}

#list-welcome li {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

p.title-welcome {
    font-weight: 700;
}



@media screen and (max-width: 1400px) {
    .welcome-content p {
        padding: 8px;
        font-size: 20px
    }

    #list-welcome li {
        font-size: 20px
    }

}

@media screen and (max-width: 1200px) {
    .welcome-content p {
        padding: 8px;
        font-size: 18px;
    }

    #list-welcome li {
        font-size: 18px
    }
}

@media screen and (max-width: 992px) {
    .welcome-content p {
        font-size: 16px;
    }

    #list-welcome li {
        font-size: 16px
    }
}

@media screen and (max-width: 768px) {
    .welcome-content h1 {
        font-size: 40px;
    }

    .welcome-content span {
        font-size: 48px;
    }

    .welcome-content {
        margin: 0;
        padding: 2rem 1rem;
        width: 100%;
    }

    .welcome-content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .welcome-content h1 {
        font-size: 38px;
    }

    .welcome-content span {
        font-size: 48px;
    }

    .welcome-content {
        margin: 0;
        padding: 2rem 1rem;
        width: 100%;
    }

    .welcome-content p {
        font-size: 14px;
    }

    #list-welcome li {
        font-size: 14px
    }
}