#work-submission {

    height: 50vh;
}

.work-container {

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

}


.work-content {

    width: 100%;
    height: 80%;
    border-radius: 20px;
    background: #FFFFFF4D;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.work-content h2{
    
    width: 100%;
    height: 30%;
    display: flex;
    color: #F1F1F1;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    align-items: center;

}

.line-up {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-between;
}

.work-content-p{
    color: #FFF;
    width: 70%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    align-items: center;

}

.work-content-p :nth-child(1) {
    width: 90%;
    height: 50%;
    text-align: justify;
    font-size: 30px;
}

.work-content-p :nth-child(2) {

    font-size: 18px;
    text-align: justify;
    width: 90%;
}
.work-conttent-button{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
}
.work-conttent-button a{
    width: 300px;
    height: 80px;
    text-decoration: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 800;
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.work-conttent-button a:hover{
    color: white; 
}


@media screen and (max-width: 1400px) {
    .line-up{
        flex-direction: row;
       }
}

@media screen and (max-width: 1200px) {
  
    .work-content-p :nth-child(1) {
        font-size: 24px;
    }

    .work-conttent-button a {
        width: 250px;
        height: 70px;
        font-size: 24px;
       
    }

}


@media screen and (max-width: 992px) {


    .work-content h2 {
        font-size: 32px;
    }
    .work-content-p :nth-child(1) {
        font-size: 20px;
    }

    .work-conttent-button a {
        width: 200px;
        height: 60px;
        font-size: 20px;
       
    }

    .work-content-p :nth-child(2) {
        font-size: 14px;
    }


}

@media screen and (max-width: 768px) {

    .work-content-p :nth-child(1) {
    
        font-size: 18px;
    }
    .work-content-p :nth-child(2) {
    
        font-size: 12px;
    }
    .work-content h2{
        font-size: 28px;
        
    }
}

@media screen and (max-width: 576px) {
    .line-up {
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .work-content h2 {
    
        height: 20%;
        
    }

    .work-content-p {
        
        justify-content: space-between;
    }

    .work-content-p :nth-child(1) {
        font-size: 16px;
    }

    .work-conttent-button {
        
        padding-right: 0rem;
    }

    .work-conttent-button span{

        font-size: 12px;
    }

    .work-conttent-button a {
    
        height: 50px;
        
    }
}
